:root {
    --bgcolor: rgb(23, 27, 26);
    --collapse: rgba(143, 143, 143, 0.247);
    --uncollapse: rgba(143, 143, 143, 0.397);
    --frame-content: rgba(255, 255, 255, 0.068);
    --black1: rgba(0, 0, 0, 0.322);
    --download: rgb(38, 190, 94);
    --download-hover: rgb(53, 161, 93);
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background: none;
    display: flex;
    align-items: baseline;
    justify-content: center;
    z-index: -19;
    opacity: 0.7;
}

body {
    background-color: var(--bgcolor)
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.heading {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.plugin-frame {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    justify-content: center;
}

.collapsible {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--collapse);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: var(--uncollapse);
}

.frame-content {
    display: flex;
    color: white;
    overflow: hidden;
    background-color: var(--frame-content);
    flex-direction: row;
    width: -webkit-fill-available;
    padding: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 12em;
    background-color: rgb(136 144 159 / 86%);
    margin: 10px;
}

.card-image {
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.card-text {
    display: flex;
    color: black;
    width: 100%;
    justify-content: center;
    background-color: var(--black1);
}

.card-text label{
    margin-left: 0.6em;
}

.item-name{
    padding: 0.4em 0 0.4em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card .bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    opacity: 1;
    background-color: var(--black1);
    margin-left: 2px;
    margin-right: 2px;
}

button {
    cursor: pointer;
}

.download {
    background-color: var(--download);
    padding: 10px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: background-color .2s linear;
    border: none;
}

.download:hover {
    background-color: var(--download-hover);
}

.bold {
    font-weight: bold;
}

.material-icons {
    font-size: smaller;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
}

.tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 400px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    transition: opacity 0.5s linear;
    font-size: small;
  }

.tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
}

.tooltip-top {
    top: 100%;
    left: 50%;
    margin-left: -200px;
}

.tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.help {
    margin-right: 5px;
}